.visual {
  height: 310px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 30px;
  background: #dce6ce;
}

.window {
  width: 100%;
  color: #333a32;
  background: #f6f8f2;
  border-radius: 7px;
  box-shadow: 0 16px 35px #34432429;
  padding: 18px 18px 0;
  transform: rotate(-4deg);
  overflow: hidden;
  height: 240px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e4d9;
  padding-bottom: 17px;
}

.top > b {
  font-size: 14px;
  letter-spacing: -0.7px;
}

.top > b > span {
  font-weight: 400;
}

.top > span {
  font-size: 8px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
  letter-spacing: -0.7px;
  padding: 18px 0;
}

.heading > span {
  font-size: 7px;
  background: #333e30;
  color: #fff;
  letter-spacing: 0;
  padding: 7px;
  border-radius: 4px;
}

.kanban {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.kanban small {
  font: 6px var(--mono);
  color: #626c5c;
  display: block;
  margin-bottom: 9px;
}

.kanban i {
  font-style: normal;
  background: #e7ebdf;
  padding: 2px 4px;
  margin-left: 4px;
}

.task {
  background: #fff;
  border: 1px solid #e6e9e0;
  border-radius: 4px;
  padding: 10px 8px;
  font-size: 7px;
}

.task b {
  display: block;
  font-size: 9px;
  line-height: 1.4;
  margin: 9px 0;
}

.label {
  padding: 3px 5px;
  background: #eaf2dc;
  border-radius: 3px;
  font-size: 6px;
}

.violet {
  background: #eee7fa;
}

.task hr {
  border: 0;
  border-top: 1px solid #edf0e8;
}

.task > span:last-child {
  color: #6b7561;
}

.completed {
  background: #eaf2dc;
}

.completed > span {
  color: #42642f;
}

.stub {
  height: 45px;
  margin-top: 8px;
}

@media (max-width: 1000px) {
  .visual {
    padding: 20px;
    height: 260px;
  }

  .window {
    height: 220px;
  }
}

@media (max-width: 720px) {
  .visual {
    height: 285px;
    padding: 30px;
  }

  .window {
    height: 230px;
  }
}

@media (max-width: 360px) {
  .visual {
    padding: 15px;
  }
}
