.card {
  position: absolute;
  left: 11%;
  right: 4%;
  top: 278px;
  background: #252a24;
  border: 1px solid #4b5342;
  border-radius: 9px;
  box-shadow: 0 25px 45px #0005;
  padding: 22px 25px;
  font: 0.85rem/1.95 var(--mono);
  transform: rotate(3deg);
}

.comment {
  color: #aab09d;
}

.purple {
  color: #d6b6ee;
}

.green {
  color: var(--accent);
}

@media (max-width: 1000px) {
  .card {
    left: 2%;
    right: 0;
    top: 270px;
    font-size: 0.7rem;
    padding: 17px;
  }
}

@media (max-width: 720px) {
  .card {
    top: 230px;
    left: 9%;
    right: 7%;
    font-size: 0.75rem;
  }
}

@media (max-width: 360px) {
  .card {
    top: 205px;
    left: 1%;
    right: 1%;
  }
}
